<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.osp.platform.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.osp.platform.application"
            name="bada IDE">
         <property
               name="windowImages"
               value="icons/bada_ide_16.png,icons/bada_ide_32.png,icons/bada_ide_48.png,icons/bada_ide_64.png,icons/bada_ide_128.png">
         </property>
         <property
               name="appName"
               value="bada IDE">
         </property>
         <property
               name="aboutImage"
               value="content/about.png">
         </property>
         <property
               name="aboutText"
               value="bada IDE for C and C++ Developers&#x0A;&#x0A;Version: 1.0.0&#x0A;&#x0A;Copyrightⓒ 2010 Samsung Electronics, Co., Ltd. All rights reserved.&#x0A;Visit http://developer.bada.com/member/loginForm.do&#x0A;&#x0A;This product includes software developed by Eclipse Project&#x0A;( http://www.eclipse.org ).">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="preference_customization.ini">
		 </property>                        
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/welcome16.gif"
            id="com.osp.platform.intro">
      </intro>
      <introProductBinding
            introId="com.osp.platform.intro"
            productId="com.osp.platform.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.osp.platform.intro"
            content="introContent.xml"
            id="com.osp.platform.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
</plugin>
