img-overview {
	position:absolute;
	width: 93px;
	height: 72px;
	vertical-align: middle;
	}

img-apireference {
	position:absolute;
	width: 78px;
	height: 81px;
	vertical-align: middle;
	}
	
img-developerguide {
	position:absolute;
	width: 94px;
	height: 67px;
	vertical-align: right;
	}
		
img-uiguide
{
	position:absolute;
	width: 74px;
	height: 86px;
	vertical-align: middle;
	}	
	





		

