/* Shared style applied to all pages */
/* trick to get desired scroll bar behavior on all browsers */ 
html {
	overflow:hidden;
	border:0px;
	height:100%;
	}

	
body {
	font-family:πŸ≈¡;
	font-size: 12px;
	color:#000000;
	} 
	

